@import url('https://fonts.cdnfonts.com/css/depixel');

body{
    background: rgb(0,18,60);
    background: linear-gradient(-45deg, rgba(0,18,60,1) 0%, rgba(55,0,55,1) 100%); 
    color: #fff;
    font-family: 'DePixel', sans-serif;
    font-weight: 700;
    background-repeat: no-repeat;
    background-attachment: fixed;
    text-align: center;
}
#idk{
    animation: woo 5s normal;
    text-align: left;
}
#container{
    margin-left: auto;
    margin-right: auto;
    width: 800px;
    height: 800px;
}
#idk{
    color: #ffffffaa;
}
#header{
    height: 80px;
    text-align: center;
}
#nav{
    margin-bottom: 50px;
}
#navbutton{
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    display: inline;
    font-weight: lighter;
    padding: 15px;
    border-bottom: 3px solid #ffffff22;
    margin: 0;
}
#navbuttonchsn{
    display: inline;
    font-weight: lighter;
    padding: 15px;
    border-top: 3px solid #ffffff22;
    border-left: 3px solid #ffffff22;
    border-right: 3px solid #ffffff22;
    border-radius: 15px 15px 0px 0px;
    margin: 0;
    height: 16px;
}
#content{
    text-align: center;
    margin-bottom: 70px;
    margin-top: 10px;
}
#kafelek{
    border-radius: 40px;
    padding: 40px;
    border: 3px solid #ffffff22;
    margin-bottom: 50px;
}
h2{
    text-align: left;
}
a{
    color: #ffffff55;
}
a:visited{
    animation: woo 5s normal;
}
#footer{
    position: fixed;
    text-align: center;
    font-size: smaller;
    color: #ffffff33;
    left: 50%;
    bottom: 0px;
    padding: 10px;
    transform: translate(-50%);
    backdrop-filter: blur(50px);
    border-radius: 20px 20px 0px 0px;
    border-top: 3px solid #ffffff22;
    border-left: 3px solid #ffffff22;
    border-right: 3px solid #ffffff22;
}
a{
    animation: colorfultextwoo 5s alternate;
    animation-iteration-count: infinite;
}
a:hover{
    animation: colorfultextwoo 5s alternate;
    animation-iteration-count: infinite;
}
a:visited{
    animation: colorfultextwoo 5s alternate;
    animation-iteration-count: infinite;
}
a{
    text-decoration: none;
}
